<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/CSS/styles.css" rel="stylesheets">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>

    <style>
        a:hover {
          color:green;
          text-decoration:none;
        }
        a:visited {
          color:purple;
        }
        a:active {
          color:lime;
        }
      </style>
</head>
<body>
    <header>
        <img width="360" src="/images/logo-mercado-liebre.svg" alt="logo">
        <p>Lugar para poner barra de busqueda</p>
    <p> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y isn trajeta de crédito</p>
    <nav>
        <ul>
            <li><a href="Ofertas">Ofertas</a></li>
            <li><a href="Tiendas">Oficiales</a></li>
            <li><a href="Vender">Vender</a></li>
            <li><a href="Ayuda">Ayuda</a></li></a>
        </ul>
        <ul>
            <li><a href="Creá tu Cuenta">Creá tu cuenta <i class="fa-solid fa-address-card"></i></a></li>
            <li><a href="Ingresá">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="Mis Compras">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
        <div class="burger-menu"> 
            <i class="fas fa-bars"></i>
        </div>
    </nav>
    <section>
        <img width="360" src="/images/img-home-banner.jpg" alt="banner">
    </section>
    </header>
    <main>
        <section>
        <h3>Basado en su última visita</h3>
            <img width="360" src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
            <p>$6.770</p>
            <p>40% OFF</p>
            <h2>Cafetera Moulinex</h2>
            <img width="360" src="/images/img-macbook-pro-2019.jpg" alt="macbook">
            <p>$230.000</p>
            <p>20% oﬀ</p>
            <h2>MacBook Pro 2019</h2>
            <img width="360" src="/images/img-samsung-galaxy-s10.jpg" alt="samsung">
            <p>$70.500</p>
            <p>10% oﬀ</p>
            <h2>Samsung Galaxy S10</h2>
            <img width="360" src="/images/img-tv-samsung-smart.jpg" alt="samsung smart tv">
            <p>$23.200</p>
            <p>5% oﬀ</p>
            <h2>SmartTv Samsung 43"</h2>
        </section>
        <section>
        <h3>Ofertas</h3>
            <img width="360" src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
            <p>$6.770</p>
            <p>40% OFF</p>
            <h2>Cafetera Moulinex</h2>
            <img width="360" src="/images/img-macbook-pro-2019.jpg" alt="macbook">
            <p>$230.000</p>
            <p>20% oﬀ</p>
            <h2>MacBook Pro 2019</h2>
            <img width="360" src="/images/img-samsung-galaxy-s10.jpg" alt="samsung">
            <p>$70.500</p>
            <p>10% oﬀ</p>
            <h2>Samsung Galaxy S10</h2>
            <img width="360" src="/images/img-tv-samsung-smart.jpg" alt="samsung smart tv">
            <p>$23.200</p>
            <p>5% oﬀ</p>
            <h2>SmartTv Samsung 43"</h2>
        </section>
    </main>
    <footer>
        <p> <strong>Pagá con tarjeta o en efectivo</strong></p>
        <p>Con Mercado Liebre Cash, tenés cuotas sin<br/>interés con tarjeta o efectivo en puntos de<br/>pago. ¡Y siempre es seguro!</p>
        <p> <strong>Envío gratis desde $ 2.500</strong></p>
        <p>Solo por estar registrad@ en Mercado Liebre<br/>tenés envíos gratis en miles de productos.<br/> Es un beneﬁcio de Mercado Puntos.</p>
        <p> <strong>Seguridad, de principio a ﬁn</strong></p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,<br/> no hay nada que no puedas hacer,porque estás<br/> siempre protegid@.</p>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>
